/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  font-size: var(--size-step-1);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
  margin: 0;
}

h1 {
  font-size: var(--size-headline-h1);
}

h2 {
  font-size: var(--size-step-4);
  line-height: var(--leading-flat);
}

:where(img, picture, svg, canvas) {
  background-repeat: no-repeat;
  background-size: cover;
  block-size: auto;
  font-style: italic;
  max-inline-size: 100%;
  shape-margin: 0.75rem;
  vertical-align: middle;
}

.region {
  padding-block: var(--region-space, var(--space-l-xl));
}

.text-step-4 {
  font-size: var(--size-step-4);
}

.text-step-3 {
  font-size: var(--size-step-3);
}

.full-bleed {
  box-shadow: 0 0 0 100vmax var(--color-secondary);
  clip-path: inset(0 -100vmax);
}

.inverse {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
