<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ title }}" />
    <title>{{title}}</title>
    <link rel="preload" href="/assets/fonts/Mona-Sans.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body>
    {% include "partials/header.njk" %}
    <main class="wrapper flow">{{ content | safe }}</main>
    {% include "partials/footer.njk" %}
  </body>
</html>
